body{
	background: silver;
}

section{
	height: 100vh;
	
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows:2fr 7fr 1fr;
	grid-template-areas: 
	    "header header"
	    "main main"
	    "footer footer";
	grid-gap: 0.5em;
}

header{
	background: lightgreen;
	grid-area: header;
}

main{
	grid-area: main;
	align-items:center;
	
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

footer{
	background: red;
	grid-area: footer;
	justify-self: center;
	
}

main > div > button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

